html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 760px) {
    html, body {
        height: auto;
    }
}

.c-mobile-pixel {
    width: 0;
    height: 0;
}

/* Smartphones */
@media only screen and (max-width: 760px) {
    .c-mobile-pixel {
        display: none;
    }
}

.c-member {
    height: 100%;
    width: 100%;
    background-color: red;
    display: inline-block;
    transform: skewX(-60deg);
    position: absolute;
    top: 0;
    left: -50%;
    transition: left 0.2s;
}

.c-member:hover {
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    left: -48%;
}

.c-company {
    height: 100%;
    width: 100%;
    background-color: red;
    display: inline-block;
    transform: skewX(-60deg);
    position: absolute;
    top: 0;
    right: -50%;
    overflow: hidden;
    transition: right 0.2s;
}

.c-company:hover {
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    right: -48%
}

.c-company__image
{
    transform: skewX(60deg);
}

.c-navigation {
    height: 100%;
    width: 25%;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #EAEAEA;
    box-shadow: 0.5px 0 0 0 rgba(0, 0, 0, 0.25);
}

/* Smartphones */
@media only screen and (max-width: 760px) {
    .c-navigation
    {
        width: 100%;
    }
}

.c-arrow {
    font-size: 25px;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #231F20;
}

.c-map {
    height: 100%;
}
