{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Find your job</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/metronic.css' %}">

    {% block css %}{% endblock css %}
</head>

<body class="{% block bodyclass %}{% endblock bodyclass %}">

    {% block content %}{% endblock content %}

    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/metronic.js' %}"></script>

    {% block javascript %}{% endblock javascript %}

</body>

</html>
