{% extends "front/base.html" %}
{% load static %}

{% block content %}

    <div class="c-mobile-pixel js-mobile-pixel"></div>

    <div class="c-navigation js-navigation">
        <div class="fa fa-arrow-right c-arrow js-arrow" data-direction="right" aria-hidden="true" style="display: none;"></div>
        <div class="fa fa-arrow-left c-arrow js-arrow" data-direction="left" aria-hidden="true"></div>
    </div>
    <div id="map" class="c-map"></div>

{% endblock content %}

{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzqUgOyHy01TwKGE1deiwjvoe2ifTsxz8&callback=initMap" async defer></script>
{% endblock javascript %}
